# Jekyll & Ruby
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Node & Package Managers
node_modules/

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# Environment / Secrets
.env
.env.local

# Python & Temporary Files
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3
*.log

